*{
    margin:0;
    padding:0;
}

.body{
  overflow-y:hidden !important;
  position: fixed !important;
}

::-webkit-scrollbar{
  display: none;
}


.navbar{
  box-shadow:0px 2px 5px grey;
  height:2.3rem;
  position: fixed;
}

.nav-item{
  padding:2px;
  padding-top: 0;
}

.nav-item .nav-link{
  margin-left:0.6rem;
}

.nav-item .nav-link{
  font-weight: bold;
  font-size:12px;
  color: #707070;
}

.nav-link:hover{
  color: #0368f9 !important;
}

.nav-link:active{
  color:#0368f9 !important;
}

.nav-item .nav-btn{
  font-size:12px;
  font-weight:bold;
  padding:0.28rem;
  margin-top:0.18rem;
  height:1.8rem;
  margin-left:0.65rem;
}

.nav-btn:hover{
  text-decoration: none !important;
}

.holdingcontainer{
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: auto !important;
  }

  .internalcontainerL{
    flex: 1;
    padding: 30px;
    margin-right:0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 0.1rem;
    padding-right: 0;
  }

  .internalcontainerR{
    flex: 1;
    padding-top:10px;
    font-size: 12px;
    padding-left: 0;
    margin-left: 0;
    font-family: 'Roboto', sans-serif;
    margin-top:0.3rem;
  }

  #para1{
    display: none;
  }

 

  .dasimages{
      margin-top:2rem;
      margin-right: -8rem;
  }

  .footercontainer{
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    border-top: 0.2px solid grey;
    position: sticky;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    height: 0.1rem !important;
  }

  .footercontainerL{
    flex: 1;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    padding-left: 1rem;
    align-items: center;
  }

  .footercontainerM{
    flex: 5;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
    justify-content: center;
    margin-top:.3rem;
  }

  .footercontainerR{
    flex: 1;
    font-size: 10px;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    margin-right: 0;
    margin-top:.3rem;
    width: auto;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #footer-logo{
    filter: invert(29%) sepia(81%) saturate(4478%) hue-rotate(208deg) brightness(98%) contrast(103%);
  }

  .footer-content:hover{
    cursor: pointer;
  }

  @media screen and (max-width: 540px){
    .holdingcontainer{
      flex-direction: column-reverse;
    }
    .dasimages{
      margin-right:33%;
    }
    #para{
      display: none;
    }
    #para1{
      display: block;
    }
  
    .btn{

      align-items: center !important;
      justify-content:center !important;
      margin-right: -2.8% !important;
      margin-left:-2.9rem!important;
    }
    .footercontainer{
      flex-direction: column;
    }
    .footercontainerL{
      padding-left: 37%
    }
    .footercontainerR{
      margin-top:-5%;
      margin-left: -6%;
    }
    .navbar{
      height:auto;
    }
  }